.drawing-canvas-container{
  width: 80%;
}

.pencil-cursor{
  cursor: url('/images/pencil.png') 2 18, auto;
}

.brush-cursor{
  cursor: url('/images/brush.png') 24 14, auto;
}

.eraser-cursor{
  cursor: url('/images/eraser.png') 10 10, auto;
}

.eraser-cursor-1x{
  cursor: url('/images/eraser-1x.png') 5 5, auto;
}

.eraser-cursor-2x{
  cursor: url('/images/eraser-2x.png') 10 10, auto;
}

.eraser-cursor-3x{
  cursor: url('/images/eraser-3x.png') 20 20, auto;
}
