#canvas{
  border: 2px solid black;
}

.drawing-canvas-container{
  width: 80%;
}

.pencil-cursor{
  cursor: url('/react-paint/images/pencil.png') 2 18, auto;
}

.brush-cursor{
  cursor: url('/react-paint/images/brush.png') 24 14, auto;
}

.eraser-cursor{
  cursor: url('/react-paint/images/eraser.png') 10 10, auto;
}

.line-cursor{
  cursor: crosshair;
}
