.index-container{
  text-align: center;
}

.index-title{
  margin: 10px 0;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.drawing-container{
  display: flex;
  max-width: 1040px;
  margin: 0 auto;
  border: 1px solid;
  padding: 15px;
  background: white;
  box-shadow: 5px 5px 0px 0 $grey;
}
