.line-weight-selector-container{
  background: $grey;
  padding: 15px;
  margin: 20px 0 0 0;
  height: 120px;
}

.line-container{
  padding: 7.5px;
  margin: 0;
  cursor: pointer;
  border: 1px solid #eee;
  &.selected{
    border: 1px solid darken(#eee, 15%);
  }
  .line{
    background: black;
    height: 2px;
  }
  @for $i from 2 through 5 {
    &:nth-of-type(#{$i}) .line{ height: #{$i * 2}px; }
  }
}

.circle-container{
  padding: 0 11px;
  margin: 0;
  cursor: pointer;
  border: 1px solid #eee;
  display: inline-block;
  height: 30px;
  &.selected{
    border: 1px solid darken(#eee, 15%);
  }
  .circle{
    background: black;
    height: 2px;
    width: 2px;
    border-radius: 1px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  @for $i from 2 through 5 {
    &:nth-of-type(#{$i}) .circle{
      height: #{$i * 5}px;
      width: #{$i * 5}px;
      border-radius: #{$i * 5 / 2}px;
    }
  }
}

.slider-container{
  margin: 10px 0;
}

.slider-stroke-label{
  margin: 0;
}
