.tool-panel-container{
  width: 20%;
  margin: 10px auto;
  padding: 0 20px;
  max-width: 180px;
}

.tool-panel-left{
  display: inline-block;
}

.tool-panel-right{
  display: inline-block;
}

.tool-panel-btn{
  display: inline-block;
  background: none;
  border: 1px solid $grey;
  margin: 0 2.5px;
  cursor: pointer;
  &:hover{
    border: 1px solid black;
  }
  &.selected{
    border: 1px solid black;
  }
}

.tool-panel-tool-icon{
  width: 20px;
  height: 20px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}
